<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Редактировать заказ</title>
</head>
<body>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}  <!-- Отображение формы -->

        {% for field in form %}
            {% for error in field.errors %}
                <div class="error">{{ error }}</div>
            {% endfor %}
        {% endfor %}

        <button type="submit">Сохранить изменения</button>
    </form>
</body>
</html>
