<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список задач</title>
</head>
<body>
    <h1>Все задачи</h1>

    <!-- Форма для поиска -->
    <form method="GET" action="{% url 'tasks' %}">
        <input type="text" name="search" placeholder="Поиск по номеру договора" value="{{ request.GET.search }}">
        <button type="submit">Поиск</button>
    </form>

    <!-- Таблица с заказами -->
    <table>
        <thead>
            <tr>
                <th>Номер договора</th>
                <th>Клиент</th>
                <th>Файл договора</th>
                <th>Срок</th>
                <th>Дата создания</th>
                <th>Дата обновления</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td><a href="{% url 'order' order.id %}">{{ order.contract_number }}</a></td>
                <td>{{ order.id_client }}</td>
                <td><a href="{{ order.contract.url }}">Скачать</a></td>
                <td>{{ order.deadline }}</td>
                <td>{{ order.created_at }}</td>
                <td>{{ order.updated_at }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="6">Заказы не найдены.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
